<%-include('../cabecalho.ejs')%>
    <h1>Adicionar Desenvolvedora</h1>
    <div>
        <form method="post" enctype="multipart/form-data">
            <label>Nome:</label>
            <input type="text" name="nome" required>
            <br>
            <label>Descrição:</label>
            <input type="text" name="descricao" required>
            <br>
            <label>Website:</label>
            <input type="text" name="website" required>
            <br>
            <label>País de Origem:</label>
            <input type="text" name="paisDeOrigem" required>
            <br>
            <label>Data de Fundação:</label>
            <input type="date" name="dataDeFundacao" required>
            <br>
            <label>Logo:</label>
            <input type="file" name="logo" accept="image/*">
            <br>
            <button type="submit">Adicionar</button>
        </form>
    </div>
    <%-include('../rodape.ejs')%>